/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-failure {
    padding: 13px;
    background-color: #a73128;
    color: white;
  }

.alert-success {
    padding: 13px;
    background-color: #38a353;
    color: white;
}

.alert-warn {
  padding: 13px;
  background-color: #d1650d;
  color: white;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.mat-card-header-text {
  width: 100%
}